body, .navbar {
	background-color: #f8f8f8;
}

.navbar-brand, .navbar-toggle {
	color: #455A64 !important;
}

.panel-heading {
	border-bottom: 1px solid #757575 !important;
}

.login-container {
	margin-right: 15px;
}

.ql-container {
	height: 325px;
}

.ql-snow .ql-editor pre.ql-syntax {
	padding: 9.5px;
	color: #333;
	background-color: #f5f5f5;
	border-radius: 4px;
}

.ql-indent-1 {
	padding-left: 3em;
}

.ql-indent-2 {
	padding-left: 6em;
}

.ql-indent-3 {
	padding-left: 9em;
}

.ql-indent-4 {
	padding-left: 12em;
}

.ql-indent-5 {
	padding-left: 15em;
}

.ql-indent-6 {
	padding-left: 18em;
}

.ql-indent-7 {
	padding-left: 21em;
}

.ql-indent-8 {
	padding-left: 24em;
}

.buttons, .items, #content {
	margin-top: 20px;
}

.selected-container {
	border: 1px solid #455a64;
}

.red {
	background-color: #E57373;
}

.blue {
	background-color: #7986CB;
}

.green {
	background-color: #81C784;
}

.yellow {
	background-color: #FFD54F;
}

.brown {
	background-color: #A1887F;
}

.grey {
	background-color: #BDBDBD;
}

.teal {
	background-color: #90A4AE;
}