<!DOCTYPE html>
<html lang="hu" ng-app="wnb">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>wnb</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/solarized-light.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.2.2/quill.snow.min.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
		<link rel="stylesheet" type="text/css" href="../css/quill-task-list.css">
		<link rel="stylesheet" type="text/css" href="../css/navbar-fixed-side.css">
		<link rel="stylesheet" type="text/css" href="../css/material-kit.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
	</head>
	<body ng-controller="EditorController as main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-5 col-md-4 col-lg-3">
					<nav class="navbar navbar-fixed-side">
						<div class="container">
							<div class="navbar-header">
								<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>

								<a class="navbar-brand" href="./">wnb</a>

								<div class="pull-right login-container">
									<!-- user haven't logged in yet-->
									<div ng-if="!$root.started">
										<a class="btn btn-default navbar-btn" href="#" role="button" ng-click="main.auth()"><span class="fa fa-refresh"></span> Szinkronizálás</a>
									</div>

									<!-- user logged in and last sync is successful-->
									<div ng-if="$root.started && !$root.error">
										<a class="btn btn-info navbar-btn" href="#" role="button" ng-click="$root.authCheck()"><span class="fa fa-check"></span> Szinkronizálva</a>
									</div>

									<!-- user logged in and sync is stopped-->
									<div ng-if="$root.started && $root.error">
										<a class="btn btn-danger navbar-btn" href="#" role="button" ng-click="main.auth()"><span class="fa fa-exclamation"></span> Szinkronizálatlan</a>
									</div>
								</div>
							</div>
							<div class="collapse navbar-collapse">
								<div class="btn-group btn-group-justified buttons">
									<div class="btn-group">
										<button type="button" class="btn btn-primary" ng-click="main.addItem(1)"><span class="fa fa-pencil-square-o"></span> Új jegyzet</button>
									</div>
									<div class="btn-group">
										<button type="button" class="btn btn-primary" ng-click="main.addItem(2)"><span class="fa fa-check-square-o"></span> Új feladat</button>
									</div>
								</div>

								<div class="btn-group btn-group-justified buttons">
									<div class="btn-group">
										<a class="btn btn-success" href="#" role="button"><span class="fa fa-list"></span></a>
									</div>
									<div class="btn-group">
										<a class="btn btn-success" href="#starred" role="button"><span class="fa fa-star"></span></a>
									</div>
									<div class="btn-group">
										<a class="btn btn-success" href="#deleted" role="button"><span class="fa fa-trash"></span></a>
									</div>
								</div>

								<div class="ng-view"></div>
							</div>
						</div>
					</nav>
				</div>
				<div class="col-sm-7 col-md-8 col-lg-9">
					<div id="content">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
								<div class="input-group">
									<span class="input-group-addon">
										<input type="checkbox" ng-if="main.type === 2" ng-checked="main.state === 3" ng-click="main.setState(3)">
									</span>
									<input type="text" class="form-control" ng-model="main.title" ng-change="main.saveTitle()" ng-disabled="!main.itemID">
								</div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
								<div class="btn-group btn-group-justified" role="group">
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-success" ng-click="main.setBgColor()" ng-disabled="!main.itemID"><span class="fa fa-paint-brush"></span></button>
									</div>
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-success" ng-click="main.setState(1)" ng-disabled="!main.itemID"><span class="fa fa-star"></span></button>
									</div>
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-success" ng-click="main.setState(3)" ng-disabled="!main.itemID"><span class="fa fa-trash"></span></button>
									</div>
								</div>
							</div>
						</div>

						<ng-quill-editor ng-model="main.content" on-content-changed="main.saveContent(html, text)" read-only="!main.itemID"></ng-quill-editor>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.2.2/quill.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.1/angular-resource.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.1/angular-sanitize.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ng-quill/3.0.1/ng-quill.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
		<script src="../js/quill-task-list.js"></script>
		<script src="../js/material.min.js"></script>
		<script src="../js/all.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$.material.init();
			});
		</script>
	</body>
</html>