<div class="items" ng-repeat="item in $root.items | filter: { state: '1' } | orderBy: main.orderBy track by $index">
	<div id="{{item._id}}" class="panel panel-default {{item.backgroundColor}} {{item._id === main.itemID ? 'selected-container' : ''}} {{item.state === 1 ? 'panel-warning' : ''}} {{item.state === 3 ? 'panel-danger' : ''}}" ng-click="main.selectItem(item._id)">
		<div class="panel-heading">
			<span class="fa {{item.type === 1 ? 'fa-pencil-square-o' : 'fa-check-square-o'}}"></span> {{item.title ? item.title : '(nincs cím)'}}
			<button class="btn btn-success btn-xs pull-right" type="submit" ng-click="main.shareItem(item._id)"><span class="fa fa-share-square-o"></span> Megosztás</button>
		</div>
		<div class="panel-body">
			{{item.content ? item.plainContent : '(nincs tartalom)'}}
		</div>
	</div>
</div>